<div class="container">
    <mat-list>
        <div>
            <mat-list-item>
                <img matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="../../../assets/profile-placeholder.jpg">
                <div matListItemTitle >Pepe</div>
                <div matListItemLine >Golden Terrier</div>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="warn">close</mat-icon>
                </button>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="primary">check</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div>
            <mat-list-item>
                <img matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="../../../assets/profile-placeholder.jpg">
                <div matListItemTitle >Pepe</div>
                <div matListItemLine >Golden Terrier</div>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="warn">close</mat-icon>
                </button>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="primary">check</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div>
            <mat-list-item>
                <img matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="../../../assets/profile-placeholder.jpg">
                <div matListItemTitle >Pepe</div>
                <div matListItemLine >Golden Terrier</div>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="warn">close</mat-icon>
                </button>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="primary">check</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div>
            <mat-list-item>
                <img matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="../../../assets/profile-placeholder.jpg">
                <div matListItemTitle >Pepe</div>
                <div matListItemLine >Golden Terrier</div>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="warn">close</mat-icon>
                </button>
                <button matListItemMeta mat-icon-button>
                    <mat-icon color="primary">check</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>
