<div class="container">
    <mat-list>
        <div *ngFor="let user of requestList">
            <mat-list-item>
                <img [routerLink]="['/account/user', user.id]" class="profilePic" *ngIf="user.ProfileImage == null" matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="Profile Pic">
                <img [routerLink]="['/account/user', user.id]" class="profilePic" *ngIf="user.ProfileImage !== null" matListItemAvatar [src]="user.ProfileImage" alt="Profile Pic">
                <div [routerLink]="['/account/user', user.id]" matListItemTitle>{{user.Username}}</div>
                <div matListItemLine >{{user.DogBreed}}</div>
                <button matListItemMeta mat-icon-button (click)="acceptRequest(user.id)">
                    <mat-icon color="primary">check</mat-icon>
                </button>
                <button matListItemMeta mat-icon-button (click)="rejectRequest(user.id)">
                    <mat-icon color="warn">close</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>
