<mat-divider></mat-divider>
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label><mat-icon class="tab-icon">contacts</mat-icon><span class="tab-title">FRIENDS LIST</span></ng-template>
      <app-friends-list></app-friends-list>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label><mat-icon class="tab-icon">group_add</mat-icon><span class="tab-title">FRIENDS</span></ng-template>
      <app-add-friend></app-add-friend>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label><mat-icon class="tab-icon">notifications</mat-icon><span class="tab-title">FRIENDS REQUEST</span></ng-template>
      <app-friends-notifications></app-friends-notifications>
    </mat-tab>
</mat-tab-group>
