mat-tab-group {
    background-color: white;
    height: 100%;
    margin-bottom: 100px;
}
mat-tab {
    height: 100%;
}
.tab-icon {
    margin-right: 8px;
}
.tab-title {
    display: none;
}

@media (min-width: 542px) {
    .tab-title {
        display: block;
    }
}  