<div class="container">
    <mat-list>
        <div *ngFor="let user of friendList">
            <mat-list-item>
                <img class="profilePic" *ngIf="user.ProfileImage == null" matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="Profile Pic">
                <img class="profilePic" *ngIf="user.ProfileImage !== null" matListItemAvatar [src]="user.ProfileImage" alt="Profile Pic">
                <div matListItemTitle>{{user.Username}}</div>
                <div matListItemLine >{{user.DogBreed}}</div>
                <button matListItemMeta mat-icon-button (click)="removeFriend(user.id)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>
