<div class="container">
    <mat-card>
        <mat-card-title class="h1 px-4 pt-3 pb-1" ><strong>LOGIN</strong></mat-card-title>
        <hr class="m-3">
        <mat-card-content>
            <form [formGroup]="form">
            
                <mat-form-field class="pt-4">
                    <mat-label>Email</mat-label>
                    <input type="Email" matInput placeholder="Email" formControlName="Email">
                    <mat-error *ngIf="form.get('Email')?.errors && form.get('Email')?.hasError('required')">Email is <strong>required</strong></mat-error>
                </mat-form-field>
                <p class="text-danger" *ngIf="emailError">This <strong>email is not registred</strong>, please register first or try again</p>
            
                <mat-form-field class="pb-4">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('Password')?.errors && form.get('Password')?.hasError('required')">Password is <strong>required</strong></mat-error>
                </mat-form-field>
                <p class="text-danger" *ngIf="passwordError">This <strong>password doesn't match with the email</strong>, please try again</p>

                <div class="button">
                    <button class="btn bg-primary text-white" (click)="onSubmit()" color="primary" type="submit">Login</button>
                </div>

                <div class="text-center pt-4">
                    <p>You don't have an account? <a routerLink="/account/register">Register</a> first.</p>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>
