<div> 
  <mat-toolbar color="primary">
    <div class="menu-icon">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="companyName" routerLink="/" (click)="sidenav.opened ? sidenav.close() : null">
      <strong>Pipican Barcelona</strong>
    </div>

    <span class="example-spacer"></span>

    <div class="navbar-links">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/prices">Prices</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a>
      <a mat-button routerLink="/account">Login</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
      <mat-nav-list class="sidenav-links">
        <h1><strong>MENU</strong></h1>
        <a mat-list-item routerLink="/about-us" (click)="sidenav.toggle()">About us</a>
        <a mat-list-item routerLink="/prices" (click)="sidenav.toggle()">Prices</a>
        <a mat-list-item routerLink="/start-page" (click)="sidenav.toggle()">Start page</a>
        <a mat-list-item routerLink="/offer" (click)="sidenav.toggle()">Offer</a>
        <a *ngIf="" mat-list-item routerLink="/account" (click)="sidenav.toggle()"><mat-icon class="mat-list-icon">account_circle</mat-icon><span>LOGIN</span></a>
        <a *ngIf="" mat-list-item routerLink="/account/edit-account" (click)="sidenav.toggle()"><img src="" alt=""><span>Username</span></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>