<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="container-text col-lg-8 text-center text-lg-start p-3">
                <h1 class="text-white-border display-1 text-uppercase text-dark mb-lg-4">Pipican Barcelona</h1>
                <h1 class="text-uppercase text-white mb-lg-4">Make Your Pets Happy</h1>
                <p class="fs-4 text-white mb-lg-4">Dolore tempor clita lorem rebum kasd eirmod dolore diam eos kasd. Kasd clita ea justo est sed kasd erat clita sea</p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <button routerLink="/account/register" class="btn btn-outline-light border-2 py-md-3 px-md-5">Join in</button>
                </div>
            </div>
        </div>
    </div>
</div>
