<div class="generalContainer">
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="container-text row justify-content-start">
                <div class=" col-lg-8 text-center text-lg-start p-3">
                    <h1 class="display-1 text-black text-uppercase mb-lg-4">Pipicans Barcelona</h1>
                    <h1 class="text-uppercase text-white mb-lg-4">Make Your Pets Happy</h1>
                    <p class="fs-4 text-white mb-lg-4">Dolore tempor clita lorem rebum kasd eirmod dolore diam eos kasd. Kasd clita ea justo est sed kasd erat clita sea</p>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <button routerLink="/account/register" class="shadow btn-lg btn fw-bold btn-outline-light border-2 py-md-3 px-md-5">JOIN IN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="img-container col-lg-5 mb-5 mb-lg-0">
                    <div class="position-relative h-100">
                        <img class="img-aboutus position-absolute w-100 h-100 rounded" src="../../assets/dogs-aboutus.jpg" alt="About Us Image">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="border-start border-5 border-primary ps-5 mb-5">
                        <h6 class="text-primary text-uppercase">About Us</h6>
                        <h1 class="display-5 text-uppercase mb-0">We Keep Your Pets Happy All Time</h1>
                    </div>
                    <h4 class="text-body mb-4">Diam dolor diam ipsum tempor sit. Clita erat ipsum et lorem stet no labore lorem sit clita duo justo magna dolore</h4>
                    <div class="bg-primary text-white p-4">
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                <p class="mb-0">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>
                            </div>
                            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                <p class="mb-0">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 mb-5">
        <div class="container">
            <div class="services-title border-start border-5 border-primary ps-5 mb-5">
                <h6 class="text-primary text-uppercase">Services</h6>
                <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="service-item d-flex p-4">
                        <img class="icon-image me-4" src="../../assets/info-location.png" alt="info-location">
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Boarding</h5>
                            <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item d-flex p-4">
                        <img class="icon-image me-4" src="../../assets/user-experience.png" alt="user-experience">
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Feeding</h5>
                            <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item d-flex p-4">
                        <img class="icon-image me-4" src="../../assets/paw-location.png" alt="paw-location">
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Grooming</h5>
                            <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item d-flex p-4">
                        <img class="icon-image me-4" src="../../assets/dog-friend.png" alt="dog-friend">
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Training</h5>
                            <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

