<div class="container">
    <form [formGroup]="form" class="header-container">
        <mat-form-field class="searcher-container start-50">
            <mat-label>Name of your dog's friend</mat-label>
            <input matInput title="searcher" type="text" formControlName="searcher">
            <button matSuffix mat-icon-button (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <mat-divider class="searcher-divider"></mat-divider>
    <mat-list>
        <div *ngFor="let user of searchedUsers">
            <mat-list-item>
                <img class="profilePic" *ngIf="user.ProfileImage == null" matListItemAvatar src="../../../assets/profile-placeholder.jpg" alt="Profile Pic">
                <img class="profilePic" *ngIf="user.ProfileImage !== null" matListItemAvatar [src]="user.ProfileImage" alt="Profile Pic">
                <div matListItemTitle>{{user.Username}}</div>
                <div matListItemLine >{{user.DogBreed}}</div>
                <button matListItemMeta mat-icon-button (click)="addFriend(user.id)">
                    <mat-icon color="primary">person_add</mat-icon>
                </button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</div>

