<h1 mat-dialog-title class="fw-bold text-primary">Rate this Pipican</h1>
<div mat-dialog-content>
    <div class="mb-3 mt-5">
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&starf;</span>&starf;
            </span>
        </ng-template>
          
        <ngb-rating [formControl]="ctrl" [starTemplate]="t" [readonly]="false" [max]="5"></ngb-rating>
        <div class="form-text small">
            <div *ngIf="ctrl.invalid && error" class="m-1 text-danger">Please rate this Park</div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button class="bg-primary text-white" (click)="confirmed()" cdkFocusInitial>Rate It!</button>
</div>
