/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary-color: (
    50 : #ebf1e7,
    100 : #cedcc4,
    200 : #aec59c,
    300 : #8dae74,
    400 : #749c57,
    500 : #5c8b39,
    600 : #548333,
    700 : #4a782c,
    800 : #416e24,
    900 : #305b17,
    A100 : #b9ff96,
    A200 : #97ff63,
    A400 : #75ff30,
    A700 : #64ff17,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-color: (
    50 : #f7eee7,
    100 : #ecd5c3,
    200 : #e0ba9b,
    300 : #d39e72,
    400 : #c98954,
    500 : #c07436,
    600 : #ba6c30,
    700 : #b26129,
    800 : #aa5722,
    900 : #9c4416,
    A100 : #ffdfd0,
    A200 : #ffbb9d,
    A400 : #ff986a,
    A700 : #ff8651,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn-color: (
    50 : #fcf9f6,
    100 : #f8f1e8,
    200 : #f4e8d9,
    300 : #efdeca,
    400 : #ebd7be,
    500 : #e8d0b3,
    600 : #e5cbac,
    700 : #e2c4a3,
    800 : #debe9a,
    900 : #d8b38b,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #fff5eb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($my-primary-color);
$my-palette-accent: mat.define-palette($my-accent-color);
$my-palette-warn: mat.define-palette($my-warn-color);

$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-palette-accent,
        warn: $my-palette-warn
    ),
));

@include mat.all-component-themes($my-theme);

html, body { min-height: 100%; min-width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
