/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary-color: (
    50 : #eff6e6,
    100 : #d7e9c1,
    200 : #bddb98,
    300 : #a2cd6e,
    400 : #8ec24f,
    500 : #7ab730,
    600 : #72b02b,
    700 : #67a724,
    800 : #5d9f1e,
    900 : #4a9013,
    A100 : #dbffc3,
    A200 : #bdff90,
    A400 : #9eff5d,
    A700 : #8fff44,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-color: (
    50 : #fffae8,
    100 : #fff2c5,
    200 : #ffe99e,
    300 : #ffe077,
    400 : #ffda59,
    500 : #ffd33c,
    600 : #ffce36,
    700 : #ffc82e,
    800 : #ffc227,
    900 : #ffb71a,
    A100 : #ffffff,
    A200 : #fffffe,
    A400 : #ffeecb,
    A700 : #ffe5b2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn-color: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-primary: mat.define-palette($my-primary-color);
$my-palette-accent: mat.define-palette($my-accent-color);
$my-palette-warn: mat.define-palette($my-warn-color);

$my-theme: mat.define-light-theme((
    color: (
        primary: $my-primary,
        accent: $my-palette-accent,
        warn: $my-palette-warn
    ),
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

$primary: #7ab730;
$secondary: #ffd33c;

:root {
    --primary: #7AB730;
    --secondary: #FFD33C;
    --light: #F3F3F3;
    --dark: #212121;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
