.letters {
    max-width: 70%;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
}
.full {
    color: var(--secondary);
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: var(--secondary);
}
.background {
    right: 0px;
    min-width: 100%;
    margin: 0px;
    height: calc(100% - 48px);
    padding: 0px;
    background-image: url("../../../../assets/background-img.jpg");
}
.container {
    right: 0px;
    min-width: 100%;
    margin: 0px;
    height: calc(100% - 48px);
    padding: 0px;
}
ngb-carousel {
    width: 100%;
    height: 300px;
}
.carousel-img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.card-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 580px;
    margin: 40px;
    gap: 20px;
}
.gray-card {
    padding: 10px;
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: auto;
}
@media (min-width: 650px) {
    ngb-carousel {
        width: 100%;
        height: 400px;
    }
    .carousel-img {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }
    .card-container {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 400px;
        margin: 40px;
        gap: 20px;
    }
    .gray-card {
        padding: 10px;
        background-color: rgb(238, 238, 238);
        width: 100%;
        height: 200px;
    }
}
@media (min-width: 850px) {
    ngb-carousel {
        width: 100%;
        height: 500px;
    }
    .carousel-img {
        object-fit: cover;
        width: 100%;
        height: 500px;
    }
    .container {
        margin-right: 15%;
        height: calc(100% - 48px);
        padding: 0px;
    }
}
